---
title: Blog
layout: 'base.njk'
---


				<div class="container py-4">
    <!-- The ROW stays OUTSIDE the loop -->
    <div class="row">
        
        {% for post in collections.post | reverse %}
            
            {% include 'article-snippet.njk' %}

        {%- endfor %}

    </div> <!-- End of Row -->
</div>

			
